{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/tailwindcss">
        @layer utilities {
            .content-auto {
                content-visibility: auto;
            }
        }
    </style>
    {%block title%}<title></title>{%endblock%}


    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% block content %}
<body>
<div class='wrapper w-[1000px] p-5 ml-10 h-[420px] overflow-auto mx-auto space-y-20'></div>
</body>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    clifford: '#da373d',
                }
            }
        }
    }
</script>

</html>
{%endblock%}